<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学习</title>
    <script src="../dist/vue.js"></script>
    <script src="./learnVue.js"></script>
</head>
<body>
<div id="app">
    aaa你好吗?aaa
    <div
        class="red-color"
        :class="{bgcor: hasBgCor}"
        v-if="person.id > 15"
        v-show="person.id > 25"
        v-for="person in allPerson"
        :key="person.id">
        {{person.name}}
    </div>
    <div>I'm OK !</div>
    {{abc}}
    <div :style="{
        width: '100px',
        height: '100px',
        backgroundColor: 'red'
    }">show 颜色 !!!</div>
</div>
<script type="text/javascript">
const app = new Vue({
    el: '#app',
    data: {
        abc: '342',
        hasBgCor: true,
        allPerson: [
            { name: 'ta1', id: 10},
            { name: 'ta2', id: 23},
            { name: 'ta3', id: 37}
        ]
    }
});
</script>
</body>
</html>
